@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(126.04deg, #2D2D2D 0%, #E44040 98.25%);
}

.body-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.custom-button {
    background: #FF3A3A;
    color: #FFFF;
}

.custom-button > span{
    color: #FFFF;
}

.custom-button-history {
    margin-bottom: 30px;
}